<template>
  <new-form v-model:element="localData" @submitted="handleAdd()" />

  <p>local</p>
  {{ localData }}
</template>

<script>
// @ is an alias to /src
import NewForm from "../components/newForm.vue";

export default {
  name: "Home",
  components: {
    NewForm,
  },
  data() {
    return {
      localData: {
        name: "jahdiel",
        age: "22",
      },
    };
  },
  methods: {
    handle() {
      console.log("sub");
    },
    handleAdd() {
      console.log("from form", this.localData);
    },
  },
};
</script>
