<template>
  <div>
    <form @submit.prevent="handleSubmit">
      <div class="centrado">
        <div class="form-group centrado">
          <h3 class="mb-5">Sube tu imagen a reconocer aqui</h3>
          <input
            type="file"
            class="form-control-file"
            id="imagen"
            @change="findImage($event)"
            accept=".jpeg,.jpg"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Reconocer</button>
        </div>
      </div>
    </form>
    <div class="container" v-if="loadComplete">
      <div v-for="(dato,index) in response" :key="index">
        <h4>{{nombres[index]}} - {{(dato*100).toFixed(2) + '%'}}</h4>
        <div class="progress">
          <div
            class="progress-bar bg-success"
            role="progressbar"
            :style="{'width': (dato*100) + '%'}"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      imagen: null,
      response: [],
      loadComplete: false,
      nombres:['Avion', 'Atomovil', 'Pajaro', 'Gato', 'Venado', 'Perro', 'Rana', 'Caballo', 'Barco', 'Camion'],
    };
  },
  methods: {
    findImage(event) {
      this.imagen = event.target.files[0];
    },
    async handleSubmit() {
      try {
        console.log(this.imagen);
        const formData = new FormData();
        formData.append("imagen", this.imagen);
        const res = await fetch("http://127.0.0.1:5000/imagen", {
          method: "POST",
          body: formData,
        });
        const jsonresponse = await res.json();
        this.response = jsonresponse.datos;
        this.loadComplete = true
        console.log(jsonresponse);
      } catch (error) {
        console.log(error);
      }
    },
  },
  computed:{

  }
};
</script>

<style scoped>
.centrado {
  display: grid;
  place-items: center;
}
</style>
