<template>
  <div class="container">
    <form @submit.prevent="handleSubmit">
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          class="form-control"
          v-model="localData.name"
          ref="name"
        />
      </div>
      <div class="form-group">
        <label>age</label>
        <input
          ref="age"
          type="text"
          class="form-control"
          v-model="localData.age"

        />
      </div>
      <div class="form-group">
        <button class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
        localData: this.element
    };
  },
  props: {
    element: {},
  },
  
  methods: {
    handleSubmit() {
      this.$emit("submitted", this.localData);
    },
  },
};
</script>

<style>
</style>